<!DOCTYPE html>
<html lang="es">

<head>
  <style id="removeIfJS">
    .displayIfJS {
      display: none;
    }
  </style>
  <script>
    document.getElementById("removeIfJS").remove();
    document.write(`<style>
				.hideIfJS { display:none; }
			</style>`);
  </script>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Juegos Xbox</title>
  <meta name="Last-Modified" content="{{now.strftime('%Y-%m-%d %H:%M:%S')}}" />
  <link rel="stylesheet" href="main.css" />
  <script src="info.js"></script>
  <script src="main.js"></script>
</head>

<body>
  {% with root="." %}
  {% include "header.html" %}
  {% endwith %}
  <main>
    <div class="displayIfJS">
      <fieldset class="rangos" id="rangos">
        <legend>Búsqueda</legend>
        <p id="price">
          <label for="price_min"><span>Precio:</span>
            <input type="number" step="1" required id="price_min" min="0" max="{{gl.mx.price}}" value="0" />
          </label>
          <label for="price_max">
            -
            <input type="number" step="1" required id="price_max" min="0" max="{{gl.mx.price}}" value="{{gl.mx.price}}"
              title="max: {{gl.mx.price}}" />
            €
          </label>
        </p>
        <p>
          <label for="reviews_min"><span>Reviews:</span>
            <input type="number" step="1" required id="reviews_min" min="0" max="{{gl.mx.reviews}}" value="0" />
          </label>
          <label for="reviews_max">
            -
            <input type="number" step="1" required id="reviews_max" min="0" max="{{gl.mx.reviews}}"
              value="{{gl.mx.reviews}}" title="max: {{gl.mx.reviews}}" />
            🗳
          </label> <a class="warn" href="https://github.com/s-nt-s/xbox/issues/2">⚠</a>
        </p>
        <p>
          <label for="rate_min"><span>Estrellas:</span>
            <input type="number" step="1" required id="rate_min" min="0" max="{{gl.mx.rate}}" value="0" />
          </label>
          <label for="rate_max">
            -
            <input type="number" step="1" required id="rate_max" min="0" max="{{gl.mx.rate}}" value="{{gl.mx.rate}}"
              title="max: {{gl.mx.rate}}" />
            ★
          </label>
        </p>
        {% if gl.discounts %}
        <p>
          <label for="discount">Descuento:
            <select id="discount" data-type="number">
              {% for a in gl.discounts %}
              <option value="{{a}}">{{a}}</option>
              {% endfor %}
            </select>
            % o más
          </label>
        </p>
        {% endif %}
        <label for="order">Orden:
          <select id="order">
            <option value="D" selected>fecha</option>
            <option value="T">titulo</option>
          </select>
        </label>
      </fieldset>
      <fieldset class="lang">
        <legend title="Función BETA, datos no fiables">Idioma <a class="warn" href="https://github.com/s-nt-s/xbox/issues/1" target="_blank">⚠</a></legend>
        {% with id="vdse", txt="Audio español, subtítulos en español" %}
        {% include "lang.html" %}
        {% endwith %}
        {% with id="vds", txt="Audio español, subtítulos extranjeros" %}
        {% include "lang.html" %}
        {% endwith %}
        {% if not gl.everything_has_subtitles %}
        {% with id="vd", txt="Audio español (no hay subtítulos)" %}
        {% include "lang.html" %}
        {% endwith %}
        {% endif %}
        {% with id="vose", txt="Audio extranjero, subtítulos en español" %}
        {% include "lang.html" %}
        {% endwith %}
        {% with id="vos", txt="Audio extranjero, subtítulos extranjeros" %}
        {% include "lang.html" %}
        {% endwith %}
        {% if not gl.everything_has_subtitles %}
        {% with id="vo", txt="Audio extranjero (no hay subtítulos)" %}
        {% include "lang.html" %}
        {% endwith %}
        {% endif %}
        {% with id="se", txt="Subtítulos en español (no hay audio)" %}
        {% include "lang.html" %}
        {% endwith %}
        {% with id="s", txt="Subtítulos extranjeros (no hay audio)" %}
        {% include "lang.html" %}
        {% endwith %}
        {% if not gl.everything_has_subtitles %}
        {% with id="mute", txt="No hay audio ni subtítulos" %}
        {% include "lang.html" %}
        {% endwith %}
        {% endif %}
        {% with id="null", txt="Sin información disponible sobre idioma" %}
        {% include "lang.html" %}
        {% endwith %}
      </fieldset>
      <fieldset class="chkhideshow">
        <legend>
          <select id="mode">
            <option value="HO" selected>Ocultar (OR)</option>
            <option value="SO">Mostrar (OR)</option>
            <option value="HA">Ocultar (AND)</option>
            <option value="SA">Mostrar (AND)</option>
          </select>
        </legend>
        {% for t in gl.tags %} {% set iid = "t"+(loop.index|string) %} {% if t
        == "Tragaperras" %}
        <span title="#Free + #Compras"><input name="tags" value="{{t | to_value}}" type="checkbox" id="{{iid}}" />
          <label for="{{iid}}">#{{t}}</label></span>
        {% else %}
        <span><input name="tags" value="{{t | to_value}}" type="checkbox" id="{{iid}}" />
          <label for="{{iid}}">#{{t}}</label></span>
        {% endif %} {% endfor %}
      </fieldset>
    </div>
    <div id="games" class="hideIfJS">
      {% for j in gl.items %}
      <div class="game" id="g{{j.id}}">
        <img src="{{j.thumbnail}}" alt="Poster de {{j.id}}" loading="lazy" width="150" height="225"/>
        <p>
          <b><a href="{{j.url}}" class="title">{{j.title}}</a>{#
            <sup>[<a href="{{j.js}}">js</a>]</sup>#}</b>
          <br />
          <code>{{j.rate | decimal}}</code> ★ || {{j.reviews | millar}} 🗳 ||
          <code class="price {%if j.discount %}ofertaTrue{%endif%}" {%if j.discount%}
            title="{{j.discount | round | int}}% de descuento" {%endif%}>{{j.int_price}} €</code><br />
          {# {% if j.langs %} [ {{" / ".join(j.langs) }} ] {% endif %} #} {%
          if j.full_tags %} {% for t in j.full_tags %} {% if t == "Compras" %}
          <span class="tag" title="{{j.compras|join(' - ')}}">#{{t}}</span>
          {% elif t in ("Subtitulado", "Doblado", "Mudo") %}
          <span class="tag"><strong>#{{t}}</strong></span>
          {% else %}
          <span class="tag">#{{t}}</span>
          {% endif %} {% endfor %}<br />
          {% endif %} {{j.releaseDate}}<br />
          <a href="https://www.youtube.com/results?search_query=xbox+{{j.title | quote_plus}}">videos</a>
          -
          <a href="https://www.google.es/search?tbm=isch&q=xbox+{{j.title | quote_plus}}">imágenes</a>
        </p>
      </div>
      {% endfor %}
    </div>
  </main>
  {% with root="." %}
  {% include "footer.html" %}
  {% endwith %}
</body>

</html>
